* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* CLASSES AUXILIARES */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 2%;
}

.clear {
    clear: both;
}

.width50 {
    float: left;
    width: 50%;
    padding: 0 10px;
}

.width100 {
    float: left;
    width: 100%;
    padding: 0 10px;
}

/* ESTILO PRÓPRIO */

body {
    background: rgb(180, 200, 200);
}

h2 {
    text-align: center;
    color: #4286f4;
    padding: 10px 0;
    font-size: 24px;
    text-transform: uppercase;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    color: #646464;
}

.form-group input[type=text] {
    width: 100%;
    padding-left: 8px;
    height: 40px;
    border: 1px solid #ccc;
}

.form-group input[type=submit] {
    width: 140px;
    height: 40px;
    background: #4286f4;
    color: white;
    border: 0;
    cursor: pointer;
}

.form-group textarea {
    width: 100%;
    height: 120px;
    border: 1px solid #ccc;
    padding: 10px;
}

@media screen and (max-width: 500px) {
    .width50 {
        width: 100%;
    }
}